Artech.InheritanceHierarchy.Client/Service References/WhetherForecastService/FullWhetherForecastService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Artech.InheritanceHierarchy.BusinessEntity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Artech.InheritanceHierarchy.BusinessEntity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BasicWhetherInfo">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BasicWhetherInfo" nillable="true" type="tns:BasicWhetherInfo" />
  <xs:simpleType name="WhetherConditions">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Clear" />
      <xs:enumeration value="Cloudy" />
      <xs:enumeration value="OverCost" />
      <xs:enumeration value="Rainy" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="WhetherConditions" nillable="true" type="tns:WhetherConditions" />
  <xs:complexType name="WindInfo">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="WindInfo" nillable="true" type="tns:WindInfo" />
  <xs:simpleType name="WindDirection">
    <xs:restriction base="xs:string">
      <xs:enumeration value="East" />
      <xs:enumeration value="South" />
      <xs:enumeration value="West" />
      <xs:enumeration value="North" />
      <xs:enumeration value="Northeast" />
      <xs:enumeration value="SouthEast" />
      <xs:enumeration value="Northwest" />
      <xs:enumeration value="Southwest" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="WindDirection" nillable="true" type="tns:WindDirection" />
</xs:schema>