Artech.InheritanceHierarchy.Client/Service References/WhetherForecastService/FullWhetherForecastService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:81/Artech.InheritanceHierarchy/FullWhetherForecastService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Artech.InheritanceHierarchy.BusinessEntity" />
  <xs:element name="GetBasicWhetherInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="postalcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBasicWhetherInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Artech.InheritanceHierarchy.BusinessEntity" minOccurs="0" name="GetBasicWhetherInfoResult" nillable="true" type="q1:BasicWhetherInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWindInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="postalcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWindInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Artech.InheritanceHierarchy.BusinessEntity" minOccurs="0" name="GetWindInfoResult" nillable="true" type="q2:WindInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>